{% extends 'mainlayout.html' %}
{% block content %}



 <!-- Page Title-->
 <div class="page-title">
    <div class="container">
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="#">Home</a> </li>
                <li class="separator"></li>
                <li>Billing address</li>
            </ul>
        </div>
    </div>
</div>

<!-- Page Content-->
<div class="container padding-bottom-3x mb-1 checkut-page">
    <div class="row">
        <!-- Billing Adress-->
        <div class="col-xl-9 col-lg-8">
            <div class="steps flex-sm-nowrap mb-5">
                <a class="step active" href="#">
                    <h4 class="step-title">1. Billing Address:</h4>
                </a>
                <a class="step" href="#">
                    <h4 class="step-title">2. Shipping Address:</h4>
                </a>
                <a class="step" href="#">
                    <h4 class="step-title">3. Payment</h4>
                </a>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Billing Address</h6>

                    <form  action="" method="POST" enctype="multipart/form-data">
                        

                        
                        <input type="hidden" name="_token" value="Kyb6yIDAVHcK1S7uq6h0SimuvtNbzpb1CSJv6V8y" autocomplete="off">
                        <div class="row">
                            {{ form.hidden_tag() }}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-fn">First Name</label>
                                    {{ form.firstname.label(class='form-control-label') }}
                            {% if form.firstname.errors %}
                                {{ form.firstname(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                 {{ form.firstname(class='form-control form-control-lg') }}
                            {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-ln">Last Name</label>
                                    {{ form.lastname.label(class='form-control-label') }}
                            {% if form.lastname.errors %}
                                {{ form.lastname(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                 {{ form.lastname(class='form-control form-control-lg') }}
                            {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout_email_billing">E-mail Address</label>
                                    {{ form.email.label(class='form-control-label') }}
                            {% if form.email.errors %}
                                {{ form.email(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                 {{ form.email(class='form-control form-control-lg') }}
                            {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-phone">Phone Number</label>
                                    {{ form.phone.label(class='form-control-label') }}
                            {% if form.phone.errors %}
                                {{ form.phone(class='form-control form-control-lg is-invalid') }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                 {{ form.phone(class='form-control form-control-lg') }}
                            {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-address1">Address 1</label>
                                    {{ form.building.label(class='form-control-label') }}
                                          {% if form.building.errors %}
                                              {{ form.building(class='form-control form-control-lg is-invalid') }}
                                              <div class="invalid-feedback">
                                                  {% for error in form.building.errors %}
                                                      <span>{{ error }}</span>
                                                  {% endfor %}
                                              </div>
                                          {% else %}
                                               {{ form.building(class='form-control form-control-lg') }}
                                          {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-address2">Address 2</label>
                                    {{ form.street.label(class='form-control-label') }}
                                    {% if form.street.errors %}
                                        {{ form.street(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.street.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                         {{ form.street(class='form-control form-control-lg') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-zip">Zip Code</label>
                                    {{ form.zip.label(class='form-control-label') }}
                                          {% if form.zip.errors %}
                                              {{ form.zip(class='form-control form-control-lg is-invalid') }}
                                              <div class="invalid-feedback">
                                                  {% for error in form.zip.errors %}
                                                      <span>{{ error }}</span>
                                                  {% endfor %}
                                              </div>
                                          {% else %}
                                               {{ form.zip(class='form-control form-control-lg') }}
                                          {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-city">City</label>
                                    {{ form.city.label(class='form-control-label') }}
                                    {% if form.city.errors %}
                                        {{ form.city(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.city.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                         {{ form.city(class='form-control form-control-lg') }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="checkout-zip">Date</label>
                                    {{ form.date_created.label(class='form-control-label') }}
                                    {% if form.date_created.errors %}
                                        {{ form.date_created(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.date_created.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                         {{ form.date_created(class='form-control form-control-lg') }}
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="checkout-country">Country</label>
                                    {{ form.country.label(class='form-control-label') }}
                                    {% if form.country.errors %}
                                        {{ form.country(class='form-control form-control-lg is-invalid') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.country.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                         {{ form.country(class='form-control form-control-lg') }}
                                    {% endif %}
                                   
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="checkout-company">Remark</label>
                                    {{ form.description.label(class='form-control-label') }}
                          {% if form.description.errors %}
                              {{ form.description(class='form-control form-control-lg is-invalid') }}
                              <div class="invalid-feedback">
                                  {% for error in form.description.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                               {{ form.description(class='form-control form-control-lg') }}
                          {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="same_address" name="same_ship_address" checked>
                                <label class="custom-control-label" for="same_address">Same as Shipping address</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="trams__condition">
                                <label class="custom-control-label" for="trams__condition">This site is protected by reCAPTCHA and the <a href="#" target="_blank">Privacy Policy</a> and <a href="#" target="_blank">Terms of Service</a> apply.</label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between paddin-top-1x mt-4">
                            <a class="btn btn-primary btn-sm" href="#"><span class="hidden-xs-down"><i class="icon-arrow-left"></i>Back To Cart</span></a>
                            <button disabled id="continue__button" class="btn btn-primary  btn-sm" type="submit"><span class="hidden-xs-down">Continue</span><i class="icon-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Sidebar          -->
        <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
                <div class="padding-top-2x hidden-lg-up"></div>
                <!-- Order Summary Widget-->
                <section class="card widget widget-featured-posts widget-order-summary p-4">
                    <h3 class="widget-title">Order Summary</h3>

                    <p class="free-shippin-aa"><em>Free Shipping After Order $1,000.00</em></p>

                    <table class="table">
                        
                        
                        <tr>
                            <td>Items Total:({{session['Shoppingcart']|length}})</td>
                            <td class="text-gray-dark">${{grandtotal}}</td>
                        </tr>

                        <tr>
                            <td>Estimated tax:</td>
                            <td class="text-gray-dark">$3.35</td>
                        </tr>

                        <tr class="d-none set__state_price_tr">
                            <td>State tax:</td>
                            <td class="text-gray-dark set__state_price">$0.00</td>
                        </tr>


                        <tr>
                            <td class="text-lg text-primary">Order total</td>
                            <td class="text-lg text-primary grand_total_set">${{grandtotal}}</td>
                        </tr>
                       
                    </table>
                    <div class="panel-body">
                        <form action="{{url_for('main.get_pdf', invoice=orders.invoice)}}" method="post">
   
                            <button type="subnit" class="btn btn-danger btn-sm mr-4 float-right">
                                Get PDF
                            </button>
                        </form>
                   </div>
                </section>
                <!-- Items in Cart Widget-->
                <section class="card widget widget-featured-posts widget-featured-products p-4">
                    <h3 class="widget-title">Items In Your Cart</h3>

                    {% for key , product in session['Shoppingcart'].items() %}
                 
                    <div class="entry">
                        <div class="entry-thumb">
                            <a href="">
                                <img src="{{url_for('static', filename='img/'+ product.image)}}" alt="Product"></a></div>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="#">{{product.name}}</a></h4>
                            <span class="entry-meta">1 x {{product.price}}</span>
                           
                        </div>
                    </div>

                    {% endfor %}
                </section>


            </aside>
        </div>
    </div>
</div>



{% endblock content %}








