{% extends 'mainlayout.html' %}
{% block content %}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumbs">
                    <li><a href="https://geniusdevs.com/codecanyon/omnimart40">Home</a> </li>
                    <li class="separator"></li>
                    <li>Password Reset</li>
                  </ul>
            </div>
        </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container padding-bottom-3x mb-1">
  <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <form class="card mt-4" method="POST" action="">
                {{ form.hidden_tag() }}
                <input type="hidden" name="_token" value="1VJ0S5rM5TZEt1mljRkgwSrGOBd7FsZgTpOGoyCm" autocomplete="off">              
                <div class="card-body">
                <div class="form-group">
                <h4 class="d-block text-center mb-4">Forgot your password?</h4>
                  <label for="email-for-pass">Enter your email address</label>
                  {{ form.email.label(class='form-control-label') }}
                    {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.email(class='form-control form-control-lg') }}
                    {% endif %}

                    <small class="text-muted">Type in the email address you used when you registered with our website</small>
                </div>
                <button class="btn btn-primary btn-sm" type="submit"><span>Get New Password</span></button>
                <a href="{{ url_for('users.login') }}" class="btn btn-primary btn-sm" ><span>Login</span></a>
              </div>
            </form>
          </div>
        </div>
  </div>


{% endblock content %}